<h1>How Many Times...</h1>

  <form action="/counts">

    <div class="form-group">
      <label for="field1">Enter your Word here:</label>
      <input id="field1" name="field1" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label for="field2">Enter your Phrase or Sentence here:</label>
      <input id="field2" name="field2" class="form-control" type="text">
    </div>

    <button type="submit" class="btn-success">Send</button>
</form>
