<h1>How Many Times...</h1>

  <form action="/special"

    <div class="form-group">
      <label for="userword">Enter your Word here</label>
      <input id="userword" name="userword" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label for="usersentence">Enter your phrase or sentence here</label>
      <input id="usersentence" name="special" class="form-control" type="text">
    </div>

    <button type="submit" class="btn-success">Send</button>
</form>
